<div class="main-container">
    <div class="container-fluid">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>Les Information</h2>
                        <p>
                            You can give any background color in any table head by using <code>.table-bordered .bg-hc-border</code> and <code>.table-bordered .bg-hc-stripe</code>
                        </p>
                    </div>
                    <div class="box-widget widget-module">
                        <div class="widget-head clearfix">
                            <span class="h-icon"><i class="fa fa-table"></i></span>
                            <h4>A Complex Header Example</h4>
                        </div>
                        <div class="widget-container">
                            <div class="widget-block">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">User Search:</label>
                                                <div class=" col-md-6">
                                                    <input class="form-control" type="text" placeholder="Search">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered matmix-dt bg-hc-border">
                                    <thead>
                                    <tr>
                                        <th colspan="4">
                                            <div class="dt-col-header">All Region.</div>
                                            <p>
                                                This is a example of a complex header table you can use this syle in any kind of table.
                                            </p>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="tc-center">
                                        <input class="tc-check-all" type="checkbox" value="0">
                                    </th>
                                    <th>
                                        Libelle
                                    </th>
                                    <!-- <th class="tc-center">
                                        Numbre de Province/wilaya
                                    </th> -->
                                    <th class="tc-center">
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="tc-center">
                                        <input type="checkbox" class="tc-check" value="0">
                                    </td>
                                    <td>
                                        Marrakech Tanssift El 7awez
                                    </td>
                                    <!-- <td class="tc-center">
                                        5
                                    </td> -->
                                    <td >     
                                        <a href="#" class="btn btn-warning btn-block">Edit</a>
                                        <a href="#" class="btn btn-danger btn-block">Delete</a>       
                                    </td>
                                </tr>
                                </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-widget widget-module">
                            <div class="widget-head clearfix">
                                <span class="h-icon"><i class="fa fa-table"></i></span>
                                <h4>Wilaya</h4>
                            </div>
                            <div class="widget-container">
                                <div class="widget-block">
                                    <div class="row">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-md-6 control-label">User Search:</label>
                                                    <div class=" col-md-6">
                                                        <input class="form-control" type="text" placeholder="Search">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered matmix-dt bg-hc-border">
                                        <thead>
                                        <tr>
                                            <th colspan="4">
                                                <div class="dt-col-header">All Wilayas.</div>
                                                <p>
                                                    This is a example of a complex header table you can use this syle in any kind of table.
                                                </p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="tc-center">
                                            <input class="tc-check-all" type="checkbox" value="0">
                                        </th>
                                        <th>
                                            Libelle
                                        </th>
                                        <th class="tc-center">
                                            Region
                                        </th>
                                        <th class="tc-center">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="tc-center">
                                            <input type="checkbox" class="tc-check" value="0">
                                        </td>
                                        <td>
                                            Marrakech Tanssift El 7awez
                                        </td>
                                        <td class="tc-center">
                                            Marrakech
                                        </td>
                                        <td >     
                                            <a href="#" class="btn btn-warning btn-block">Edit</a>
                                            <a href="#" class="btn btn-danger btn-block">Delete</a>       
                                        </td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-widget widget-module">
                                <div class="widget-head clearfix">
                                    <span class="h-icon"><i class="fa fa-table"></i></span>
                                    <h4>Province</h4>
                                </div>
                                <div class="widget-container">
                                    <div class="widget-block">
                                        <div class="row">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-6">
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-md-6 control-label">User Search:</label>
                                                        <div class=" col-md-6">
                                                            <input class="form-control" type="text" placeholder="Search">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered matmix-dt bg-hc-border">
                                            <thead>
                                            <tr>
                                                <th colspan="4">
                                                    <div class="dt-col-header">All Region.</div>
                                                    <p>
                                                        This is a example of a complex header table you can use this syle in any kind of table.
                                                    </p>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="tc-center">
                                                <input class="tc-check-all" type="checkbox" value="0">
                                            </th>
                                            <th>
                                                Libelle
                                            </th>
                                            <th class="tc-center">
                                                Region
                                            </th>
                                            <th class="tc-center">
                                                Action
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="tc-center">
                                                <input type="checkbox" class="tc-check" value="0">
                                            </td>
                                            <td>
                                                Marrakech Tanssift El 7awez
                                            </td>
                                            <td class="tc-center">
                                                Ourika
                                            </td>
                                            <td >     
                                                <a href="#" class="btn btn-warning btn-block">Edit</a>
                                                <a href="#" class="btn btn-danger btn-block">Delete</a>       
                                            </td>
                                        </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>    
