<div class="page-container iconic-view">
    <app-leftbar></app-leftbar>
    <div class="page-content">
        <app-navbare></app-navbare>
        <!-- //////////////////////// -->
        <div class="main-container">
            <div class="container-fluid">
                <div class="row">
                    <app-admin-regional></app-admin-regional>
                    <app-gestionnaire-list></app-gestionnaire-list>
                    <app-recenseur-list></app-recenseur-list>
                </div>
            </div>
        </div>
    </div>      
<!-- <app-footer></app-footer> -->
</div>