<div class="main-container">
    <div class="container-fluid">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-md-7">
                    <div class="page-breadcrumb-wrap">
                        <div class="page-breadcrumb-info">
                            <h2 class="breadcrumb-titles">Dashboard <small>Web Application Backend</small></h2>
                            <ul class="list-page-breadcrumb">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li class="active-page">Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="box-widget widget-module">
                    <div class="widget-head clearfix">
                        <span class="h-icon"><i class="fa fa-bar-map-o"></i></span>
                        <h4>Positio in Maps</h4>
                    </div>
                    <div class="widget-container">
                            <agm-map [latitude]="lat" [longitude]="lng">
                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                            </agm-map>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-widget widget-module">
                    <div class="widget-head clearfix">
                        <span class="h-icon"><i class="fa fa-pie-chart"></i></span>
                        <h4>Pie Chart</h4>
                    </div>
                    <div class="widget-container">
                        <div class="widget-block">
                            <div id="pie-chart-legend">
                            </div>
                            <div id="pie-chart">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>